
*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    font-size:10pt;
}

body{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: hidden;
}
/* Inizio nav */
nav{
    width:15%;
    height:calc(100vh - 70px);
    background-color: black;
    display: inline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}


.home-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 0.5rem;  
}

.horizontal{
    display: flex;
    align-items: center;
}

.home-container img{
    margin-bottom: 2rem;
}

.logo-small{
    display: none;
}

.home-container a{
    text-decoration: none;
    color: #a3a3a3;
    font-size: 10pt;
    margin: 5px;
}

.home-container i{
    color: #a3a3a3;
    padding: 3px;
    padding-left: 10px;
}

.home-container i.selected{
    border-left: 3px solid green;
}


.home-container h3{
    color: white;
    padding: 1rem;

}

.playlist a{
    display: block;
}

.plus i{
    display: inline-block;
    background-color: #a3a3a3;
    font-size: 20pt;
    color: #080b12;
    padding: 5px;;
}

.nav-footer{
    padding-left: 10px;
}

.nav-footer a, .nav-footer hr, .nav-footer i{
    text-decoration: none;
    color: #a3a3a3;
    margin: 8px;
}

.nav-footer p{
    color: white;
}

#white{color: white;}

.fa-arrow-down{
    border: 1px solid  #a3a3a3;
    border-radius: 50%;
    padding: 3px 5px;
}

.fa-user{
    background-color: #a3a3a3;
    padding: 5px;
    border-radius: 50%;
}
/* Fine nav */

/* Inizio main */
main{
    width:85%;
    height: calc(100vh - 70px);
    background-color: #141922;
    overflow-y: scroll;
}

.link-nav{
    height: 40px;
    background-color: #141922;
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.link-nav a{
    margin: 5px;
    text-decoration: none;
    color: #a3a3a3;
    font-size: 11pt;
    display: inline-block;
    position:relative;
}

.highlighted:before {
    content: '';
    width: 30px;
    height: 4px;
    background: green;
    position: absolute;
    bottom: -4px;
    left: calc(50% - 15px);
  }

.title-played{
    padding: 1rem;
}

.played-container{
    display: flex;
}

.box-playlist{
    width:16%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.img-container{
    width: 100%;
    position: relative;
}

.img-container img{
    width: 100%;
}

.disappear{
    display: none;
    position: absolute;
    border: solid 2px white;
    border-radius: 50%;
    padding: 4px;
    padding-left: 6px;
    font-size: 30px;
    top: calc(50% - 17px);
    left: calc(50% - 17px);
    color:white;
}

.img-container:hover .disappear{
    display: initial;
}

.box-playlist img, .box-playlist h3, .box-playlist p{
    margin: 2px;
}

.box-playlist h3{
    color: white;
    font-size: 10pt;
    text-align: center;
}

.box-playlist p{
    color: #a3a3a3;
    font-size: 10pt;
    text-align: center;
}

.title-played h3{
    color: white;
}
.header{
    height: 70px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header a{
  text-decoration: none;  
  color: white;
  background-color: #080b12;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 10pt;
  border: 1px solid white;
  margin-right: 10px;
}

.header a:hover{
    transform: scale(1.1);
}

.radar h3, .radar p{
    margin: 10px;
}

.radar h3{
    color: white;
}

.radar p{
    color: #a3a3a3;
    font-size: 10pt;
}

.round-container{
    display: flex;
}

.round-playlist{
    padding-left: 0;
    padding-right: 0;
    width: 15%;
    margin-right: 10px;
}

.round-playlist img{
    width: 100%;
    border-radius: 50%;
    padding: 1rem;
}
/* Fine main */

footer{
    width: 100vw;
    height: 70px;
    background-color: #282828;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

.playing-song-img{
    width: 30%;
}

.playing-song-img img{
    width: 100%;
}


.song-content{
    padding: 0 0;
    color: white;
}

.song-content a{
    color: #a3a3a3;
    font-size: 10pt;
}

.song-content a:hover{
    text-decoration:underline;
}

.song-items{
    padding: 0;
    color: grey;
}

.song-items i{
    margin: 3px;
}

.song-control-center{
    padding: 0;
    color: white;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.song-control-dashboard{
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-control-center i{
    font-size: 10px;
}

.fa-play{
    border: solid 2px white;
    border-radius: 50%;
    padding: 4px;
    padding-left: 6px;
}

.song-control-center .fa-play:hover{
    font-size: 15px;
}

.playing-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}


.playing-song{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.player-container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.player-container p{
    padding: 0 10px;
}

.timebar{
    width: calc(100% - 60px);
    height: 4px;
    background-color:#a3a3a3;
    border-radius: 5px;
    position:relative;
}

.progress{
    background-color: white;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
}

.dot{
    display: none;
    height: 8px;
    width: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    bottom: -2px;
    left: 20%;
}

.timebar:hover .dot{
    display: initial;
}

.timebar:hover .progress{
    background-color: green;
}

.song-control-right{
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    min-width: 200px;
}

.song-control-right i{
    color: white;
}

.song-control-right .timebar{
    width: 100px;
}

a.selected, a:hover, i:hover{
    color:white;
}

/* Responsive */
@media screen and (max-width:768px){
    .link-nav{
        flex-wrap: wrap;
    }

    .box-playlist{
        width: 24%;
    }

    .played-container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:645px) {
    .link-nav{
        flex-wrap: wrap;
    }

    .box-playlist{
        width: 49%;
    }

    .played-container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px){
    .playlist{
        display: none;
    }

    .horizontal a, .horizontal p, hr{
        display: none;
    }

    nav{
        width: 12%;
    }
    
    main{
        width: calc(100vw - 12%);
    }

    .home-container i.selected{
        border-left: 0px solid green;
    }

    .logo-big{
        display: none;
    }

    .logo-small{
        display: initial;
    }
}


