
*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
}
/* Inizio nav */
nav{
    width:15%;
    height:calc(100vh - 100px);
    background-color: black;
    display: inline;
    display: flex;
    flex-direction: column;
}

nav img{
    padding: 10px;
}

.home-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.home-container a{
    text-decoration: none;
    color: #a3a3a3;
    font-size: 12pt;
    margin: 5px;
}

.playlist-container{
   display: flex;
   flex-direction: column;
   padding: 1rem;
}

.playlist-container a{
    text-decoration: none;
    color: #a3a3a3;
    font-size: 12pt;
    margin: 5px;
}

.playlist-container h3{
    color: white;
    padding: 1rem 0;

}

.plus i{
    display: inline-block;
    background-color: #a3a3a3;
    font-size: 20pt;
    color: #080b12;
    padding: 5px;;
}
/* Fine nav */

/* Inizio main */
main{
    width:85%;
    height: calc(100vh - 100px);
    background-color: grey;
}

.header{
    height: 100px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header a{
  text-decoration: none;  
  color: white;
  background-color: #080b12;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 10pt;
  border: 1px solid white;
}

footer{
    width: 100vw;
    height: 100px;
    background-color: blue;
}
